header{
    margin: 50px 2vw;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    margin-left: 15px;
    color: red;
}
a:hover{
    text-decoration: underline;

}